<div id = 'Add_Bill' class = 'wrapper'>
    <section class = 'your_bill left'>
        <h2>Add a Bill</h2>  
        <form action='/process_add_bill' method='post'>
            <div class=inputs>
                <label>DUE DATE</label>
                <input type='date' name = 'Due'>
            </div>
        </form>    

        </section>

    </div>

</div>