<div id = 'All_Bills'>
<p class = 'add_bill'>+ Add a bill</p>
<p>ALL BILLS</p>

<table>
    <tbody>

    @{
        for(var i = 0; i< 5; i++)
        {
            <partial name= "BillRowPartial" />
        }
    }
    </tbody>
</table>


</div>