

<div id = 'All_Bills'>
<a href="/create_bill"><p class = 'add'>+ Add a bill</p></a>
<p class='all_bills'>ALL BILLS</p>

<table>
    <tbody>

    @{
        foreach( var bill in Model){
            <partial name= "BillRowPartial" model="bill"/>
        }
    }
    </tbody>
</table>


</div>