<tr id = 'Bill_Row'>
    <td>2/21</td>
    <td>electric</td>
    <td>$342</td>
    <td>
        <select>
            <option>remove</option>
            <option>edit</option>
            <option>pay from 1</option>
            <option>pay from 2</option>
            <option>NEEDS ACTION</option>
            <option>WAITING</option>
            <option>PAID</option>
        </select>
        
    </td>
</tr>