
<div id = 'Add_Paycheck' class = ' create wrapper'>
    <section class = 'your_bill left'>
        <h2>Add a Paycheck</h2>  
        <form action='/process_create_paycheck' method='post'>
            <div class='inputs flex'>
                <label>PAYDATE</label>
                <input type='date' name = 'PayDate'>
            </div>
            <div class='inputs flex'>
                <label>FROM</label>
                <input type='text' name = 'From'>
            </div>
            <div class='inputs flex'>
                <label>TOTAL</label>
                <input type='number' name = 'Total'>
            </div>

            <button type ='submit'>Add this!</button>
        </form>    

        </section>

    </div>

</div>