<footer id = 'Footer' class='bar'>
    <div class = 'wrapper flex'>
        <ul class = 'copyright'>
            <li>ksanmartin909@gmail.com</li>
            <li> copyright © 2021 Kristen San Martin</li>
        </ul>
        <div class = 'technologies'>
            <h4>Technologies</h4>
            <ul class = 'tech_list flex'>
                <li>C# ASP.NET Core</li>
                <li>Adobe XD</li>
                <li>MySQL</li>
                <li>Entity Framework</li>
                <li>Photoshop</li>
                <li>LINQ</li>
                <li>JQuery</li>
                <li>Javascript</li>
                <li>GitHub</li>
                <li>AJAX</li>
            </ul>
        </div>

        
    
    </div>
</footer>