
@using money_minder.Models


<div id = 'Dashboard' class='wrapper'>
    <section class = 'labels flex'>
        <partial name='BillLabelPartial' />
        <partial name='PaymentLabelPartial' />
    </section>

    <section class = 'work_panel flex'>
        <partial name='AllBillsPartial'/>
        <div class = 'payment_cards'>
            <a href='/create_paycheck'><p class ="add">+ Add a Payment</p></a>
            @{
                foreach(var paycheck in @ViewBag.ChecksList){
                    <partial name='PaymentCardPartial' model='paycheck'></partial>
                }
            }

        </div>
    </section>
</div>  
    
