
<div id = 'Dashboard' class='wrapper'>
    <section class = 'labels flex'>
        <partial name='BillLabelPartial' />
        <partial name='PaymentLabelPartial' />
    </section>

    <section class = 'work_panel flex'>
        <partial name='AllBillsPartial'/>
        <div class = 'payment_cards'>
            <p class ="add">+ Add a Payment</p>
            <partial name='PaymentCardPartial'/>
            <partial name='PaymentCardPartial'/>
            <partial name='PaymentCardPartial'/>

        </div>
    </section>
</div>  
    
