

<nav id = 'Nav' class='flex bar'>
    <div class= 'nav wrapper flex'>
        <section class = 'left flex'>
            <p id = 'Logo'><span>M</span>oney<span>M</span>inder</p>
            <div class ='date'>
                <p>Today</p>
                <p>4/12/2021</p>
            </div>
        </section>

        <section class = 'options right flex'>
            <div class = 'balance'>
                <p>BALANCE</p>
                <p>$8922</p>    
            </div>
            <div class ='waiting'>
                <p>WAITING</p>
                <p>$5546</p>
            </div>
            <div class = 'difference'>
                <p>DIFFERENCE</p>
                <p>$344</p>
            </div>

            <i class="fas fa-bars"></i>
        </aside>

    </div>
</nav>