<div id= 'Payment_Card' class = 'flex'>
    <section class = 'top flex'>
        <p>Check 1: </p>
        <p>12/14 </p>
        <p>$2132 </p>
        <p>$122 </p>
    </section>
        <table class = 'bill_rows'>
            <tbody>

                @{
                    for(var i = 0; i< 5; i++)
                    {
                        <partial name= "BillRowPartial" />
                    }
                }
            </tbody>
        </table>
        <p class= 'add_bill'>+ add a bill to this payment</p>
        <p>Calculate</p>
</div>