@{ 
    string date = @Model.PayDate?.ToString("M/dd");
    decimal total = Decimal.Round(@Model.Total,2);
}

<div id= 'Payment_Card' class = 'flex'>
    <section class = 'top flex'>
        <p>Check 1: </p>
        <p>@date </p>
        <p>@total </p>
        <p>$122 </p>
    </section>
        <table class = 'bill_rows'>
            <tbody>

            </tbody>
        </table>
        <p class= 'add_bill'>+ add a bill to this payment</p>
        <p>Calculate</p>
</div>