
.create .inputs.flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create .inputs {
    color: var(--green2);
    font-weight: bold;
}

.create input {
    border: 1px solid var(--green2);
    border-radius: 5px;
}