
#Bill_Row td {
    padding: 5px 10px;
}

#Bill_Row td:nth-child(2){
    font-weight: 700;
}
#Bill_Row {
    width: 350px
}



#All_Bills p.all_bills {
    color:var(--blue1);
    text-align: center;
    font-weight: 500;
}




#All_Bills table {
    margin-top: 20px;
}
#Bill_Row select,
#Bill_Row td  {
    font-weight: 500;
    color: var(--green3);
    background-color: transparent;
    border: none;
    font-size: 13px;
}
#Bill_Row td.flex {
    justify-content:flex-end;
}
#Bill_Row select {
    padding-right: 10px;
}
