
footer {
    margin-top: 50px;
}
footer h4 {
    font-family: var(--monst);
    font-weight:700;
    color: var(--blue1);
    text-align: center;
}

footer.bar {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    width: 100%;
    height: 60px;
    border-top: 1px solid var(--green2);
    box-shadow: 10px -20px 28px rgba(116, 200, 146,0.2);
    
}

footer .flex {
    justify-content: space-between;
}

footer ul {
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
footer li {
    list-style: none;
    font-size: 13px;
    color: var(--blue1)
}

footer .copyright {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}