
:root {
    --aleo : 'Aleo', serif;
    --monst: 'Montserrat','sans-serif';
    --green1 : #99D98C;
    --green2: #76C893;
    --green3: #11961D;
    --blue1: #125A70;
    --offwhite: #FCFFFA;
    --grey: #C9CAC9;
}
/* 
*{
    outline: 2px dotted red;
} */
